{% extends 'base.html' %}

{% block  content %}
<div class="container" >
    <div class = "row ">
      {% for n in menproduct %}
    
      {% comment %} print(a) {% endcomment %}
       {% if n.category == 'MENFORMAL' %}
        <div class="col-md-4" style="padding-bottom: 2%;padding-top: 2%;">
            <div class="card shadow" style="width: 20rem;"><a href="/detailpage/{{n.id}}" class="btn btn-warning">
                <img src='/media/{{n.pictures}}' class="card-img-top" alt="..." style="height:255px">
                <div class="card-body text-center">
                  <h5 class="card-title">{{n.name}}</h5>
                  
                  <h4 class="card-price">${{n.price}}</h4>
                  <p class="card-text">{{n.description}}</p>
                  </a>
                </div>
              </div> 
        </div>
        {% endif %}  
      {% endfor %}
        
    </div>
</div>
{% endblock  %}